@use '@/utils/style/variables' as *;
@use '@/utils/style/mixins' as *;

.artist-info-card {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: $tan-black;
  color: $white;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
  }

  li {
    overflow-wrap: break-word;
    color: $light-grey-white;
    margin-bottom: 1rem;
  }

  img:hover {
    cursor: pointer;
  }

  @include mobile {
    ul {
      flex-wrap: wrap;
      min-width: 18rem;
    }
  }
  @include tablet {
    min-width: 18rem;
    a {
      width: 40%;
    }
  }
  @include desktop {
    min-width: 24rem;
  }
}

.artist-info-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem !important;
  padding: 0;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.8rem;
  justify-content: center;

  @include desktop {
    min-width: 24rem;

    justify-content: normal;
  }
}
.artist-name {
  margin-top: 0;
}
.followers {
  font-size: 0.8rem;
  text-wrap: nowrap;
  color: $light-grey-white;
}
.artist-profile {
  border-radius: 4px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  opacity: 0.8;

  @include mobile {
    width: 18rem;
  }
  @include desktop {
    width: 18rem;
  }
}
