@use '@/utils/style/variables' as *;
.wrap {
  color: $white;
  background-color: $white-grey;
  padding: 1.2rem;
}

.music-player-wrap {
  display: inline-flex;
  width: 100%;
  justify-content: center;

  button {
    svg {
      color: $white !important;
    }
  }
}
.nothing-wrap {
  color: $white;
  background-color: $raisin-black;
  padding: 1rem;
}
