@use '@/utils/style/variables' as *;
@use '@/utils/style/mixins' as *;

.grid {
  display: inline-grid;
  grid-template-columns: subgrid;
  padding: 0 1rem;
  margin: 0 auto;
  column-gap: 1rem;

  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
