@use '@/utils/style/variables' as *;
@use '@/utils/style/mixins' as *;

.top-track-list {
  padding: 0;
  display: grid;
  width: 100% !important;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}
