@use '@/utils/variables' as *;
@use '@/utils/mixins';

.logo {
  text-decoration: none;
  color: $grey;
}

.logo-skeleton {
  color: $light-grey-white !important;
  text-decoration: none;
}
.logo-skeleton:hover {
  cursor: not-allowed;
}
