@use '@/utils/mixins';
@use '@/utils/variables' as *;

.playlist-description {
  font-size: 0.86rem !important;
  margin-top: 0.3rem;
  word-break: break-all;

  a:hover {
    color: $raisin-black;
  }
}
