@use '@/utils/style/variables' as *;

.button {
  font-family: 'Jua', sans-serif;
  background-color: $raisin-black;
  color: $white;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
  box-shadow: $button-shadow;
}
.button:hover {
  background-color: $pale-white-grey;

  cursor: pointer;
}
